# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Node
node_modules/
dist/
.cache/

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
